.workspace {
    display: flex;
    flex-direction: column;

    flex: 1;

    min-width: 0;
    min-height: 100%;
}
.workspace-content {
    display: flex;

    flex: 1;

    min-width: 0;
    min-height: 0;

    overflow: hidden;

    align-items: stretch;
}

.main-content {
    flex: 1;

    min-width: 0;
    min-height: 0;

    overflow: hidden;
}
.source-bar {
    width: 25rem;

    flex-shrink: 0;
    align-self: stretch;

    border-left: 1px solid #575555;

    overflow-y: auto;
}

.document-sources {
    padding: 1rem;
}

.document-source {
    margin-bottom: 1rem;
}