.workspace {
    display: flex;
    flex-direction: column;

    flex: 1;
    min-width: 0;
}

.workspace-content {
    display: flex;

    flex: 1;
    min-height: 0;
}

.main-content {
    flex: 1;
    min-width: 0;
}

.source-bar {
    width: 25rem;
    flex-shrink: 0;

    border-left: 1px solid #575555;

    overflow-y: auto;
}

.document-sources {
    padding: 1rem;
}

.document-source {
    margin-bottom: 1rem;
}